#
# Copyright (c) 2015 Persinity Inc.
#

# Contains properties for NDT DB connections source and destination
# JDBC DB URL, e.g.: jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
# DB username and password

# Source application DB
src.app.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
src.app.db.user = testapp
src.app.db.pass = testapp
src.app.db.tables.skiplist = test_skiptable1, test_skiptable2

# Destination application DB
dst.app.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
dst.app.db.user = testapp1
dst.app.db.pass = testapp1
dst.app.db.tables.skiplist = test_skiptable1, test_skiptable2

# Source Staging DB
src.ndt.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
src.ndt.db.user = ndtsrc
src.ndt.db.pass = ndtsrc

# Destination Staging DB
dst.ndt.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
dst.ndt.db.user = ndtdst
dst.ndt.db.pass = ndtdst
