###############################################################################
# Copyright (c) 2015 Persinity Inc.
###############################################################################

# Contains properties for the agent integration tests.

# db.url=jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl

# DB user for the NDT agent
ndt.db.url=jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
ndt.db.user=ndtsrc
ndt.db.pass=ndtsrc

# DB user for the test application
testapp.db.url=jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
testapp.db.user=testapp
testapp.db.pass=testapp