#
# Copyright (c) 2015 Persinity Inc.
#

# Contains properties for NDT DB connections source and destination
# JDBC DB URL, e.g.: jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
# DB username and password

# Source application DB
src.app.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
src.app.db.user = testapp
src.app.db.pass = testapp
src.app.db.tables.skiplist = blc_admin_sec_perm_xref, blc_fg_fee_tax_xref, blc_fg_fg_tax_xref, blc_fg_item_tax_xref, blc_field_search_types, blc_order_offer_code_xref, blc_product_option_xref, blc_site_catalog, blc_sku_fee_xref, blc_sku_fulfillment_excluded, blc_sku_option_value_xref, sandbox_item_action, test_skiptable1, test_skiptable2

# Destination application DB
dst.app.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
dst.app.db.user = testapp1
dst.app.db.pass = testapp1
dst.app.db.tables.skiplist = blc_admin_sec_perm_xref, blc_fg_fee_tax_xref, blc_fg_fg_tax_xref, blc_fg_item_tax_xref, blc_field_search_types, blc_order_offer_code_xref, blc_product_option_xref, blc_site_catalog, blc_sku_fee_xref, blc_sku_fulfillment_excluded, blc_sku_option_value_xref, sandbox_item_action, test_skiptable1, test_skiptable2

# Source Staging DB
src.ndt.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
src.ndt.db.user = ndtsrc
src.ndt.db.pass = ndtsrc

# Destination Staging DB
dst.ndt.db.url = jdbc:oracle:thin:@SOURCE_ORA_SERVER:1521:orcl
dst.ndt.db.user = ndtdst
dst.ndt.db.pass = ndtdst
